/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary: #2680c0;
  --clr-primary-dark: hsl(205, 100%, 21%);
  --clr-primary-light: hsl(205, 84%, 74%);
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --ff-primary: "Catamaran", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* more global css */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}

.main {
  width: 100%;
  height: 100vh;
  /*background-image: url("./product_bg.png");*/
  background-size: 800px;
  background-position: center;
}

.logo {
  position: absolute;
  left: 90px;
  top: 50px;
}

.logo a {
  font-weight: 700;
  color: #2f2e41;
  font-size: 2rem;
  text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

.logo font {
  color: #7a72ff;
}

.side-box {
  position: fixed;
  right: -20px;
  top: 40px;
  width: 170px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;
}

.search input {
  width: 90px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #1f1f1f;
  font-size: 1rem;
  padding: 1px 10px;
}

.search input::placeholder {
  color: #1d1d1d;
  font: weight 400;
  font-size: 1rem;
  font-family: poppins;
}

.icon {
  margin: 0px auto;
}
.main-img {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-15%, -50%);
}

.main-img img {
  height: 450px;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-90%, -50%);
}

.main-text h1,
h2 {
  font-family: roboto;
  font-weight: 700;
  margin: 0;
  line-height: 60px;
  font-size: 4rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
  letter-spacing: 3px;
  color: #3d3d4a;
  text-transform: uppercase;
}

.main-btn {
  width: 150px;
  height: 40px;
  background-color: #2f2e41;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1rem;
}

.item-box {
  max-width: 1170px;
  background-color: grey;
  display: grid;
  grid-template-columns: 200px auto auto;
  grid-template-rows: 75px;
  gap: 3rem 1rem;
  justify-items: center;
  margin-bottom: 3rem;
  align-items: center;
}

.title {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 1.5rem;
}

.title img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0.25rem;
  object-fit: cover;
}
.btn-wrapper {
  display: grid;
  width: 140px;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.empty {
  text-align: center;
}

.empty h2 {
  margin-bottom: 1rem;
  text-transform: none;
  font-size: 2.5rem;
}
.btn-wrapper button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 1rem 0;
  width: 2rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-wrapper h2 {
  margin-bottom: 0;
}
.item-container {
  display: grid;
  grid-template-columns: 200px auto auto;
  grid-template-rows: 75px;
  gap: 3rem 1rem;
  justify-items: center;
  margin-bottom: 3rem;
  align-items: center;
}

.main-text h1 {
  letter-spacing: 28px;
}

.main-text font {
  color: #7a72ff;
}

.main-btn:hover {
  color: #fff;
  background-color: #6e64ff;
  transition: all ease 0.5s;
}

.social a {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  position: fixed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  padding: 5px 0px;
  z-index: 1;
}

.social-icon {
  color: rgba(39, 39, 39, 0.8);
}

.product {
  width: 85%;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
  display: flex;
  margin: 30px auto;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  margin-top: -60px;
  position: relative;
  background-size: 1000px;
  background-position: center;
  border-radius: 10px;
}
.copyright {
  color: #e7e7e7;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-size: 400px;
  background-position: center;
  border-radius: 10px;
}

footer h3 {
  font-size: 2.5rem;
  color: #202020;
  margin: 0px;
}

.footer-menu {
  display: flex;
  box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 5px 40px;
}

.footer-menu li a {
  padding: 5px 20px;
  margin: 10px;
  display: flex;
  color: #202020;
}

.footer-menu li a:hover {
  color: #6b60ec;
}
.subscribe-container {
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.subscribe-container h3 {
  font-size: 1.5rem;
  color: rgba(56, 56, 56);
}

.subscribe-input {
  width: 500px;
  background-color: #ffffff;
  border-radius: 50px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.2);
}

.subscribe-input input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
}

.subscribe-btn {
  width: 120px;
  height: 40px;
  background-color: #202020;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  font-size: 0.7rem;
  letter-spacing: 0.5px;
}

.subscribe-btn:hover {
  background-color: #6b60ec;
  transition: all ease 0.5s;
}

.copyright {
  color: #e7e7e7;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.p-heading {
  margin: 20px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.p-heading h3 {
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2rem;
  color: #323543;
}

.product-container {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0px;
  width: 100%;
}

.p-box {
  width: 250px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  position: relative;
  margin: 10px 30px;
}

.p-box img {
  height: 180px;
}

.p-box p {
  color: #4d4d4d70;
  font: size 0.9rem;
  letter-spacing: 0.5px;
}

.price {
  color: #2c2c2c;
  font-family: poppins;
  font: size 2rem;
}
.subscribe-container {
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.subscribe-container h3 {
  font-size: 1.5rem;
  color: rgba(56, 56, 56);
}

.subscribe-input {
  width: 500px;
  background-color: #ffffff;
  border-radius: 50px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.2);
}

.subscribe-input input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
}

.subscribe-btn {
  width: 120px;
  height: 40px;
  background-color: #202020;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  font-size: 0.7rem;
  letter-spacing: 0.5px;
}

.subscribe-btn:hover {
  background-color: #6b60ec;
  transition: all ease 0.5s;
}

.buy-btn {
  position: absolute;
  width: 140px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: calibri;
  left: 50%;
  bottom: -20px;
  cursor: pointer;
  transform: translateX(-50%);
  border-radius: 20px;
  color: #ffffff;
  background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
  display: none;
  animation: fade 0.2s;
}

.buy-btn hide {
  display: none;
}

.p-box:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.p-box:hover .price {
  color: #6b60ec;
  transition: all ease 0.2s;
}

.p-box:hover .buy-btn {
  display: flex;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.svg {
  display: flex;
  justify-content: center;
  position: relative;
}
